body {
  font-family: "Open Sans", sans-serif;
}
main {
  margin-top: 1.5rem !important;
}
@media screen and (min-width: 768px) {
  main {
    margin-top: -5rem !important;
  }
}
.js-alert-browser {
  margin-top: 1rem;
}
.buttons {
  justify-content: center;
}

.is-active .modal-close-button {
  z-index: 100;
}
.js-loading-status {
  margin-top: 1rem;
}
.js-dialog-loader .modal-content {
  width: 30rem;
}
@media screen and (max-width: 1024px) {
  .container.is-fluid-mobile {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: none;
  }
}
body.is-debug * { outline: solid 1px rgba(255,0,0,0.5); }