.js-alert-browser{
  margin-top: 1.5rem;
}
section.group{
  margin-top: 1.5rem;
}

.submit-section{
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.submit-section svg{
  margin-right: 0.5rem;
}

.is-active .modal-close-button{
  z-index: 100;
}
.js-loading-status{
  margin-top: 1rem;
}
.js-dialog-loader .modal-content{
  width: 50%;
}