body {
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  main {
    margin-top: -5rem !important;
  }
}
.js-alert-browser {
  margin-top: 1rem;
}
.buttons {
  justify-content: center;
}
.submit-section {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.submit-section svg {
  margin-right: 0.5rem;
}

.is-active .modal-close-button {
  z-index: 100;
}
.js-loading-status {
  margin-top: 1rem;
}
.js-dialog-loader .modal-content {
  width: 50%;
}
