<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Create a custom Bulma v<%= htmlWebpackPlugin.options.bulmaVersion %> build by choosing the components and elements you need.">
  <title>Bulma Customize</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
    integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
</head>

<body class="has-background-light">
  <nav class="navbar is-spaced is-white" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="./">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma Logo"> &nbsp; Customizer
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary is-outlined" href="https://github.com/mobihack/bulma-customize">
                <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                <span>View on GitHub</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">

        <h5 class="title is-2">Customize and Download</h5>
        <p class="subtitle is-5">Create a custom <a href="https://bulma.io/" title="Bulma website">Bulma</a>
          v<%= htmlWebpackPlugin.options.bulmaVersion %> build
          by choosing the components and elements you need.
        </p>
      </div>
    </div>
  </div>
  <main class="container is-fluid-mobile">
    <article class="message is-danger js-alert-browser is-hidden">
      <div class="message-body box">
        <h2 class="title is-size-3">Error!</h2>
        <hr>
        <p>Your browser is not up to date, please update your browser or try another one.
          You can check this website to find a better one: <a
            href="https://browsehappy.com/">https://browsehappy.com</a></p>
      </div>
    </article>

    <form class="js-form-customize">
      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Utilities <small class="subtitle is-size-5 has-text-grey">(required)</small>
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button" disabled>
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkinitial_variables" name="initial_variables" checked="true"
                disabled>
              <label for="chkinitial_variables">
                Initial Variables
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkfunctions" name="functions" checked="true" disabled>
              <label for="chkfunctions">
                Functions
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkderived_variables" name="derived_variables" checked="true"
                disabled>
              <label for="chkderived_variables">
                Derived Variables
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkmixins" name="mixins" checked="true" disabled>
              <label for="chkmixins">
                Mixins
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcontrols" name="controls" checked="true" disabled>
              <label for="chkcontrols">
                Controls
              </label>
            </div>
          </div>
        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Base
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkminireset" name="minireset">
              <label for="chkminireset">
                Mini Reset
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkgeneric" name="generic">
              <label for="chkgeneric">
                Generic
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkhelpers" name="helpers">
              <label for="chkhelpers">
                Helpers
              </label>
            </div>
          </div>
        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Components
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">

          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkbreadcrumb" name="breadcrumb">
              <label for="chkbreadcrumb">
                Breadcrumb
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcard" name="card">
              <label for="chkcard">
                Card
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkdropdown" name="dropdown">
              <label for="chkdropdown">
                Dropdown
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chklevel" name="level">
              <label for="chklevel">
                Level
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chklist" name="list">
              <label for="chklist">
                List
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkmedia" name="media">
              <label for="chkmedia">
                Media
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkmenu" name="menu">
              <label for="chkmenu">
                Menu
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkmessage" name="message">
              <label for="chkmessage">
                Message
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkmodal" name="modal">
              <label for="chkmodal">
                Modal
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chknavbar" name="navbar">
              <label for="chknavbar">
                Navbar
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkpagination" name="pagination">
              <label for="chkpagination">
                Pagination
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkpanel" name="panel">
              <label for="chkpanel">
                Panel
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chktabs" name="tabs">
              <label for="chktabs">
                Tabs
              </label>
            </div>
          </div>


        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Elements
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkbox" name="box">
              <label for="chkbox">
                Box
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkbutton" name="button">
              <label for="chkbutton">
                Button
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcontainer" name="container">
              <label for="chkcontainer">
                Container
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcontent" name="content">
              <label for="chkcontent">
                Content
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkform" name="form">
              <label for="chkform">
                Form
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkicon" name="icon">
              <label for="chkicon">
                Icon
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkimage" name="image">
              <label for="chkimage">
                Image
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chknotification" name="notification">
              <label for="chknotification">
                Notification
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkother" name="other">
              <label for="chkother">
                Other
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkprogress" name="progress">
              <label for="chkprogress">
                Progress
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chktable" name="table">
              <label for="chktable">
                Table
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chktag" name="tag">
              <label for="chktag">
                Tag
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chktitle" name="title">
              <label for="chktitle">
                Title
              </label>
            </div>
          </div>

        </div>
      </section>
      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Form
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcheckbox_radio" name="checkbox_radio">
              <label for="chkcheckbox_radio">
                Checkbox Radio
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkfile" name="file">
              <label for="chkfile">
                File
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkinput_textarea" name="input_textarea">
              <label for="chkinput_textarea">
                Input Textarea
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkselect" name="select">
              <label for="chkselect">
                Select
              </label>
            </div>
          </div>

        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Grid
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chktiles" name="tiles">
              <label for="chktiles">
                Tiles
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkcolumns" name="columns">
              <label for="chkcolumns">
                Columns
              </label>
            </div>
          </div>

        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Layout
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkfooter" name="footer">
              <label for="chkfooter">
                Footer
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chkhero" name="hero">
              <label for="chkhero">
                Hero
              </label>
            </div>
          </div>
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input class="checkbox" type="checkbox" id="chksection" name="section">
              <label for="chksection">
                Section
              </label>
            </div>
          </div>

        </div>
      </section>

      <section class="group box is-radiusless">
        <nav class="level has-text-centered-mobile">
          <div class="level-left">
            <h2 class="title is-size-3 has-text-grey-dark">
              Options
            </h2>
          </div>
          <div class="level-right">
            <button class="button is-primary is-outlined is-small toggle-all-button" type="button">
              Toggle all
            </button>
          </div>
        </nav>
        <hr>
        <div class="columns is-multiline is-mobile">
          <div class="column is-3-desktop is-4-tablet is-6-mobile">
            <div class="control">
              <input id="chkMinify" type="checkbox" checked>
              <label for="chkMinify">
                Minify
              </label>
            </div>
          </div>
        </div>
      </section>
      <div class="section has-text-centered">
        <div class="buttons are-medium">
          <button type="reset" class="button is-white">
            <span>Reset</span>
          </button>
          <button type="submit" class="button is-primary js-btn-customize">
            <span class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
            <span>Build</span>
          </button>
        </div>
      </div>
    </form>
  </main>

  <footer class="footer">
    <div class="content has-text-centered">

      <span class="is-size-4">Bulma Customize</span>
      <br>
      <p>A fork of <a href="https://github.com/Johann-S/bs-customizer">bs-customizer</a>, originally created by <a
          href="https://github.com/Johann-S">Johann-S</a>.
      </p>
      <p>made with
        <span class="icon has-text-danger" onclick="document.body.classList.toggle('is-debug')"><i class="fa fa-heart-o" aria-hidden="true"></i></span> by <a
          href="https://github.com/mobihack">mobihack</a>.
      </p>
    </div>
  </footer>
</body>

</html>